input {
  border: none;
  padding: 10px;
  background: cornflowerblue;
  border-radius: 20px;
  color: white;
  font-size: 17px;
  margin: 0 10px;
}

button[type="submit"] {
  color: white;
  font-weight: bold;
  padding: 10px;
  border-radius: 10px;
  border: none;
  background-color: cornflowerblue;
  cursor: pointer;
}

.completada {
  text-decoration: line-through;
}
